SPRING_PROFILES_ACTIVE=dev

# PostgreSQL
POSTGRES_URL=jdbc:postgresql://localhost:5432/db_canteen
POSTGRES_USERNAME=postgres_username
POSTGRES_PASSWORD=postgres_password

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# JWT
JWT_SECRET=jwt_secret
